/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/* Your code starts here! */
* {
  max-width: 80%;
  margin: 0 auto;
}
nav {
  display: flex;
}
nav a {
  display: inline-block;
  background-color: blue;
  padding: 20px 0;
}
.logo {
  background-color: rgb(112, 148, 182);
}
.title {
  display: inline-block;
  font-size: 75px;
  border: 1px;
  padding: 1px;
  background-color: aqua;
}

.get {
  display: inline-block;
  border: 1px solid black;
  font-size: 25px;
  background-color: darksalmon;
}
.titlea {
  display: flex;
}
.title-image {
  display: inline-block;
  background-color: lightblue;
}

.section-a {
  background-color: rgb(27, 77, 94);
}
.about {
  background-color: rgb(233, 151, 165);
}
.section-b {
  background-color: rgb(210, 230, 173);
}
.section-c {
  background-color: rgb(87, 192, 143);
}
.section-d {
  background-color: silver;
}
.section-e {
  background-color: gold;
}

.contact {
  background-color: rgb(211, 111, 178);
}
.copyright {
  background-color: rgb(162, 247, 176);
}
